.map{
  width:300px;
  height:50%;
}

.main{
  display: flex;
  justify-content: space-between;
}

#root{
  background-color: rgb(240, 242, 244);
  width:100%;
  overflow: hidden;
}

@media screen and (max-width:810px){
    .main{
      flex-direction: column-reverse;
      width:420px;
     
     
      margin: 10px;
    }
    
}
/* @media screen and (max-width:500px){
  #root{
  
    width:340px;
    
  }
  
} */
.radio{
  display: flex;
}




@media screen and (max-width:450px){
    .inputs{
  width: 350px;
}
}
@media screen and (max-width:375px){
  .inputs{
       width: 300px;
 }
 .radio{
   display:block;
 }
}




.cards{
  width: 430px;
  
}

/* label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
} */

select {
  margin-bottom: -100px;
  margin-top: 10px;
  padding: 3px 10px;
  
}
option{
  border: 1px solid red;
  color: red;
}

.del{
  color: red;
  font-size: 20px;
 position: absolute;
 right: 10px;
 bottom:5px;
 background-color: transparent;
 border: none;
}


